.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    /* grid-template-rows: 10% 90% 0%; */
    grid-template-columns: repeat(6, 1fr);
}

/* .Layout, .Layout > * {
    border: 1px solid black;
} */

.Layout > header, .Layout > footer {
    grid-column: span 6;
}

.Layout > main {
    grid-column: span 6;
}